@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Yum Sale</h1>
    <p class="lead">William Lee's project for learning .NET MVC and sell my stuff</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>

        <p>
        @if (Request.IsAuthenticated)
        {
           @Html.ActionLink("View Items", "Index", "items") 
        }
        else
        {
            <text><strong>UNDER CONSTRUCTION</strong> Click Register and create your account</text>
        }
        </p>
    </div>
</div>